html {
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav, div, header {
  border: solid 1px gray;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto 400px auto 300px auto 300px;
  grid-template-rows: auto auto 400px auto 300px auto 300px;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

p {
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

li {
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: rgba(0, 0, 0, 0.8);
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.vertical-align-bottom {
  display: flex;
  align-items: flex-end;
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  margin: 0 auto;
}

.header-logo {
  min-width: 200px;
  margin: 0 auto;
}

.header-logo-img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  float: none;
  border-radius: 100%;
}

.header-text {
  min-width: 300px;
  margin: 1rem auto;
}

.header-text h1, .header-text h4 {
  margin: 0;
}

.header-text .vertical-centerer {
  width: 100%;
  text-align: center;
}

nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid gray;
}

.nav-item {
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.envelope-icon {
  font-size: 40px;
  line-height: 25px;
}

.featured {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  background-image: url("/img/working.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.content-heading-work {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.content-boxes-work {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
}

.content-heading-life {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}

.content-boxes-life {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / span 1;
}

@media screen and (min-width: 600px) {
  .header-logo {
    margin: 0;
  }
  .header-logo-img {
    width: 180px;
    height: 180px;
    float: left;
  }
  .header-text {
    margin: 0;
  }
  .header-text .vertical-centerer {
    text-align: right;
  }
  .nav-item {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
