html {
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Neuton', serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 25px;
  color: #333;
  margin: 0;
}

h3, h4, h5, h6 {
  font-family: 'Neuton', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #333;
  margin: 0;
}

p, li {
  font-family: 'Neuton', serif;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  font-family: 'Neuton', serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.vertical-align-switch {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .vertical-align-switch {
    align-items: flex-start;
  }
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.vertical-align-top {
  display: flex;
  align-items: flex-start;
}

.vertical-align-bottom {
  display: flex;
  align-items: flex-end;
}

.vertical-aligner {
  width: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 400px auto auto auto;
  grid-template-rows: 400px auto auto auto;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1080px;
  padding: 30px 0;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
}

.shrink {
  padding: 8px 0;
  background: #FEAC5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item {
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.envelope-icon {
  font-size: 25px;
  line-height: 25px;
}

.fas {
  font-weight: 500 !important;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.header-logo {
  min-width: 200px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.header-logo-img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  float: none;
  border-radius: 100%;
}

.header-text {
  width: 340px;
  margin: 1rem auto;
}

.header-title, .header-subtitle {
  margin: 1rem 0;
  text-align: center;
}

.header-text .vertical-centerer {
  width: 100%;
}

.featured {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  background-image: url("/img/working.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.content-section-name {
  margin-top: 2rem;
}

.content-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.content-img {
  width: 30%;
  margin: 0;
}

.content-img img {
  width: 100%;
}

.content-box-desc {
  width: 65%;
  text-align: left;
  margin: 0 auto;
}

.content-box-desc-title {
  margin-top: .75rem;
}

.content-heading-first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.content-boxes-first {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-heading-second {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.content-boxes-second {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-heading-third {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / span 1;
}

.content-boxes-third {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / -1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1080px;
  margin: 2rem auto 0 auto;
  background: #FEAC5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-left {
  width: 100%;
  text-align: center;
}

.footer-middle {
  width: 100%;
  text-align: left;
}

.footer-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer-sbs-logo {
  width: 80px;
  border: 8px solid white;
  border-radius: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 600px) {
  nav {
    justify-content: flex-end;
    width: 90%;
  }
  .nav-item {
    padding: 0 20px;
  }
  .header-logo {
    margin: 0;
    z-index: 999999;
  }
  .header-logo-img {
    width: 180px;
    height: 180px;
    float: left;
  }
  .header-text {
    margin: 0;
  }
  .header-title, .header-subtitle {
    text-align: right;
  }
  .content-boxes-first, .content-boxes-second {
    justify-content: flex-start;
  }
  .content-box {
    width: 50%;
  }
  .content-img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .content-box-desc {
    width: 100%;
    text-align: center;
  }
  .content-box-desc-text {
    padding: 0 25px 0;
    font-size: 18px;
  }
  .footer {
    width: 90%;
  }
  .footer-left {
    width: 30%;
  }
  .footer-middle {
    width: 30%;
  }
  .footer-right {
    width: 30%;
  }
}

@media screen and (min-width: 1080px) {
  .content-box {
    width: 30%;
    max-width: 350px;
  }
  .content-boxes-first, .content-boxes-second {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=styles.css.map */
