html {
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .3s ease;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    font-family: 'Neuton', serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px;
    color: #333;
    margin: 0;
}

h3, h4, h5, h6 {
    font-family: 'Neuton', serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    margin: 0;
}

p {
    font-family: 'Neuton', serif;
    color: rgba(0,0,0,.8);
}

li {
    font-family: 'Neuton', serif;
    color: rgba(0,0,0,.8);    
}

a {
    text-decoration: none;
    font-family: 'Neuton', serif;
    font-weight: 400;
    color: rgba(0,0,0,.8);   
}

//For divs that are nested inside flex divs to avoid text elements being in a row. This will determine the vertical alignment of the nested div.

.vertical-align-switch {
    display: flex;
    align-items: center;

    @media screen and (min-width: 600px) {
        align-items: flex-start;
    }
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

.vertical-align-top {
    display: flex;
    align-items: flex-start;
}

.vertical-align-bottom {
    display: flex;
    align-items: flex-end;
}

.vertical-aligner {
    width: 100%;
}

//Container for the grid
.container {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 400px auto auto auto ;
    grid-template-rows: 400px auto auto auto ;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

//Navigation (not part of grid container)
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.4s linear;
    -o-transition: all 0.4s linear; 
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear ; 
}

// to reduce height of nav on scroll
.shrink {
    padding: 1px 0;
    background: linear-gradient(to right,  paleturquoise, yellow, paleturquoise); 
}
  

.nav-item {
    display: inline-flex;
    text-align: center;
    align-items: center;
    
}

.envelope-icon {
    font-size: 25px;
    line-height: 25px;
}

.fas {
    font-weight: 500 !important;
}

// Header (not part of grid container)

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.header-logo {
    min-width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.header-logo-img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    float: none;
    border-radius: 100%;
}

.header-text {
    width: 340px;
    margin: 1rem auto;
}

.header-text h1, .header-text h4 {
    margin: 1rem 0;
    text-align: center;
}

.header-text .vertical-centerer {
    width: 100%; 
}



//Main Image/graphic

.featured {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1; 
    background-image: url("/img/working.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

//Styling that applies to all sections of portfolio items. 

.content-heading-first h1, .content-heading-second h1 {
    margin-top: 2rem;
}

.content-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.content-img {
    width: 30%;
    margin: 0;
}

.content-img img {
    width: 100%;
}

.content-box-desc {
    width: 65%;
    text-align: left;
    margin: 0 auto;
}

.content-box-desc h4 {
    margin-top: .75rem;
}

//Styling to position first grouping of portfolio items (section).

//section heading is its own row
.content-heading-first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1; 
}

//Each content box contains an image, a heading, a subhead and a short description paragraph.
.content-boxes-first {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Styling to position second grouping of portfolio items (section).

//section heading is its own row
.content-heading-second {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / span 1; 
}

//Each content box contains an image, a heading, a subhead and a short description paragraph.
.content-boxes-second {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / span 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Styling to position third grouping of portfolio items (section) - if needed!

//section heading is its own row
.content-heading-third {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / span 1; 
}

.content-boxes-third {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / -1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / span 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Footer (contact button will link to here)

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

}
