@media screen and (min-width: 600px) {

    nav {
        justify-content: flex-end;
    }

    // .shrink {
    //     background: linear-gradient(to right, transparent, transparent, paleturquoise, yellow, paleturquoise); 
    // }
      
      
    .header-logo {
        margin: 0;
        z-index: 999999;
    }

    .header-logo-img {
        width: 180px;
        height: 180px;
        float: left;
    }
    
    .header-text {
        margin: 0;
    }

    .header-text .vertical-centerer{
        text-align: right;
    }
    
    .nav-item {
        padding: 0 20px;   
    }

    .content-box {
        width: 30%;
        max-width: 250px;
    }

    .content-img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    .content-box-desc {
        width: 100%;
        text-align: center;
    }

    .content-box-desc h2 {
        margin-top: 1rem;
    }

}