@media screen and (min-width: 600px) {

    //nav styling
    nav {
        justify-content: flex-end;
    }

    .nav-item {
        padding: 0 20px;   
    }
      
    //header styling

    .header {
        margin-bottom: 1.5rem;
    }

    .header-logo {
        margin: 0;
        z-index: 999999;
    }

    .header-logo-img {
        width: 180px;
        height: 180px;
    }
    
    .header-text {
        margin: 0;
    }

    .header-title, .header-subtitle { 
        text-align: right;
    }


    //portfolio content section styling

    .content-heading-first, .content-heading-second, .content-heading-third {
        text-align: center;
    }
    .content-boxes-first, .content-boxes-second, .content-boxes-third {
        justify-content: flex-start;
    }

    .content-box {
        width: 50%;
        display: inline-block;
        }

    .content-img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    .content-box-desc {
        width: 100%;
        text-align: center; 
    }

    .content-box-desc-text {
        padding: 0 30px;
        font-size: 18px;
        text-align: left;
    }

    //footer 
    .footer {
        justify-content: space-around;
    }
}


@media screen and (min-width: 800px) {

    //footer 
    .footer-left {
        width: 30%;
    }
    
    .footer-middle {
        width: 30%;
        padding: 0;
    }
    
    .footer-right {
        width: 30%;
    }

}

@media screen and (min-width: 1080px) {
    .content-box {
        width: 30%;
        max-width: 350px;
    }

    .content-heading-first, .content-heading-second, .content-heading-third {
        width: 100%;
        text-align: center;
    }

    .content-heading-first{
        margin: 6rem 0 0 0;
    }

    .content-boxes-first, .content-boxes-second, .content-boxes-third {
        justify-content: space-around;
        width: 100%;
        margin: 0 0 6rem 0;
    }
}