@media screen and (min-width: 600px) {

    //nav styling
    nav {
        justify-content: flex-end;
        width: 90%;
    }

    .nav-item {
        padding: 0 20px;   
    }
      
    //header styling
    .header-logo {
        margin: 0;
        z-index: 999999;
    }

    .header-logo-img {
        width: 180px;
        height: 180px;
        float: left;
    }
    
    .header-text {
        margin: 0;
    }

    .header-title, .header-subtitle { 
        text-align: right;
    }


    //portfolio content section styling
    .content-boxes-first, .content-boxes-second {
        justify-content: flex-start;
    }

    .content-box {
        width: 50%;
        }

    .content-img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    .content-box-desc {
        width: 100%;
        text-align: center;
        
    }

    .content-box-desc-text {
        padding: 0 45px;
        font-size: 18px;
    }

    //footer 
    .footer {
        width: 90%;
        justify-content: space-around;
    }
}


@media screen and (min-width: 800px) {

    //footer 
    .footer-left {
        width: 30%;
    }
    
    .footer-middle {
        width: 30%;
        padding: 0;
    }
    
    .footer-right {
        width: 30%;
    }

}

@media screen and (min-width: 1080px) {
    .content-box {
        width: 30%;
        max-width: 350px;
    }

    .content-boxes-first, .content-boxes-second {
        justify-content: space-around;
    }
}